.todosParent {
  width: 100%;
  color: var(--white);
  min-height: calc(100vh - 140px);
  position: relative;
  .todos {
  
    width: 100%;
    .formParent {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .todoContainer {
      // border: 2px solid white;
      border: 2px solid white;
      display: flex;
      justify-content: space-evenly;
      width: 95%;
      margin: auto;
      flex-wrap: wrap;
      @media (max-width: 700) {
        width: 95%;
      }
    }
  }
  .clearTodoContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
